* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-3 {
    width: calc(100%/12*3);
}
.pad{
    padding: 10px;
}